* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

.header__a--img {
  width: 250px;
}

.body__section--header {
  margin: 0 !important;
  
}

.liHeader__a:hover {
  background-color: #ffc107;
  color: black;
  border-radius: 12px;
}

.header__a--h1 {
  color: white;
}

.liHeader__a {
  color: white;
}

.body__section {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.541);
}

.body__section--a {
  border-radius: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.911);
  color: white;
  position: fixed;
  font-size: 2rem;
  z-index: 1;
  left: 88%;
  top: 82%;
  box-shadow: -3px 3px 15px 0px rgba(255, 255, 255, 0.514);
}

.body__section--a:hover {
  color: white;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.699);
}

.body__section--a:active {
  background-color: black !important;
  color: white !important;
}

.body__section--a:visited {
  background-color: black !important;
  color: white;
}


/* carousel */



.carousel {
  padding-top: 44px !important;
  width: 100%;
  max-height: 1020px;
  overflow: hidden;
}

.carousel__div--video{
 margin: auto;
}

.carousel__div--img {
  margin: 0 auto;
  object-fit: contain;
  overflow: hidden;
  width: 50%;
}

.carousel__button {
  z-index: 3;
}

/* cards */

.main__cards {
  padding: 12px 12%;
  padding-top: 8px;
}

#coach{
  padding-top: 70px;
}

.main__cards--title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div1__h3,
.div1__h2 {
  color: black;
}

.div1__h3 {
  font-weight: 400;
  font-size: 1rem;
}

.cardImg {
  width: 100%;
  border-radius: 4px;
 
  
}

.cardContainer1,.cardContainer2,.cardContainer3{
  max-height: 304.250px;
  overflow: hidden;
}

.cardContainer3{
  padding-top: 12%;
  background-color: black;
}

.card-body {
  padding: 0;
  border-radius: 4px !important;
}

.div1Cards__container,
.div3Cards__container {
  height: 100%;
}

.div2Cards__container {
  height: 100%;
}

/* mapa */

.mapa {
  /* width="600" height="450" */
  width: 100%;

  height: 450px;
  /* max-width: 600px; */
  max-height: 450px;
}

#mapaSection{
  padding-top: 57px;
}

.mainMapa__h2{
  margin: 15px 0;
}

.main__mapa {
  color: white;
  padding: 0;
}

.mainMapa__div--div {
  padding: 0;
}

.mainMapa__div--text {
  padding: 20px;
}

.mapaText__btn:hover {
  background-color: black;
  color: #ffc107;
  border-color: #ffc107;
}

/* form */

.mainForm {
  padding: 12px;
}

.mainForm__input--datos {
  display: flex;
  gap: 5%;
  justify-content: space-between;
}

.mainForm__submit:hover {
  background-color: #ffc107;
  color: black;
  border-color: black;
}

.formDatos__nombre:focus,
.formDatos__apellido:focus,
.formDatos__textArea:focus,
.formDatos__email:focus {
  box-shadow: black !important;
  border-color: black;
}

/* footer */

.footer__div--span {
  color: white;
}

.footerLi__a{
  color: #ffc107;
  font-size: 2rem
}

.footer__ul{
  display: flex;
  gap: 12px;
  margin-right: 50px;
}

/* mobile */

@media (max-width: 1000px) {
  .carousel__div--img,.carousel__div--video {
    padding: 0 150px 0 150px;
    width: 75%;
    margin: auto;
  }
}

@media (max-width: 1238px) {
  .header__a {
    margin: auto;
  }

  .cardContainer3{
    padding-top: 20%;
    background-color: black;
  }
}

@media (max-width: 1174px) {
  .cardContainer3{
    padding-top: 25%;
    background-color: black;
  }


}

@media (max-width:990px) {
  .botonDespegable{
    background-color: #ffc107;
  }

  .header__a{
    margin: 0;
  }

  .cardContainer3{
    padding-top: 30%;
    padding-bottom: 30%;
    background-color: black;
  }

}

@media (max-width: 767px) {

.div1Cards,.div2Cards,.div3Cards{
  width: 75%;
  margin: auto;

}

.cardContainer3{
   padding:0;
  
}

}
@media (max-width: 860px) {
  .body__section {
    position: static;
  }

.carousel{
  padding: 0 !important;
}

  #coach,#carousel,.main__carousel,.main__carousel--div,#mapaSection{
    padding: 0;
  }

  .body__section--a {
    display: block;
  }

  .carousel__div--img,.carousel__div--video {
    padding: 0;
    width: 75%;
    height: 50%;
    margin: auto;
    padding: 0;
  }



  .main__cards {
    padding: 5%;
  }

  .mapa {
    height: 100%;
  }
}

@media (max-width: 606px) {
  .header__ul {
    gap: 0 !important;
  }
  .body__section--a {
    left: 85%;
  }
}

@media (max-width: 462px) {
  
  .header__a--h1 {
    display: none;
  }

  
  
}
@media (max-width: 414px) {
  
 
  .header__a {
    margin-left: 35%;
  }
}
